<div class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <div class="footer__top">
                <div class="footer__top-left">
                    <div class="footer__col">
                        <div class="footer__col-title">
                                Информация
                        </div>
                        <div class="footer__col-content">
                            <a href="#">Как сделать заказ?</a>
                            <a href="#">Доставка</a>
                            <a href="#">Обмен и возврат</a>
                            <a href="#">Где  мой заказ?</a>
                            <a href="#">Способ оплаты</a>
                            <a href="#">Пользовательское 
                                    соглашение</a>
                            <a href="#">Акции и скидки</a>
                        </div>
                    </div>
                    <div class="footer__col">
                        <div class="footer__col-title">
                                О компании
                        </div>
                        <div class="footer__col-content">
                            <a href="#">О нас</a>
                            <a href="#">Контакты</a>
                            <a href="#">Вакансии</a>
                            <a href="#">Отзывы</a>
                            <a href="#">Наше производство</a>
                            <a href="#">Сертификаты</a>
                        </div>
                    </div>
                    <div class="footer__col">
                        <div class="footer__col-title">
                                Сотрудничество
                        </div>
                        <div class="footer__col-content">
                            <a href="#">Оптовым клиентам</a>
                            <a href="#">Дизайнерам</a>
                            <a href="#">Пратнерская программа</a>
                            <a href="#">Курьерская служба</a>
                        </div>
                    </div>
                </div>
                <div class="footer__top-right">
                    <div class="footer__col">
                        <div class="footer__col-title">
                                Контакты    
                        </div>
                        <div class="footer__col-content">
                            <a href="tel:+71236526237">+7 (123) 652-62-37</a>
                            <a href="mailto:info@colortheworld.ru">info@colortheworld.ru</a>
                            <p class="footer__adress">
                                Москва, Пересненская набережная,
                                2 (ТРЦ Афимолл Сити, 1 этаж)
                            </p>
                            <div class="footer__social">
                                <a href="#">
                                    {{Icon iconName="footer-vk"}}
                                </a>
                                <a href="#">
                                    {{Icon iconName="footer-fb"}}
                                </a>
                                <a href="#">
                                    {{Icon iconName="footer-inst"}}
                                </a>
                            </div>
                            <div class="footer__pay">
                                <img src='static/img/content/pay-1.png'>
                                <img src='static/img/content/pay-2.png'>
                                <img src='static/img/content/pay-3.png'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__copy">
                        © 2020 Все права защищены
                </div>
                <a href="#" class="footer__politic">
                        Политика конфиденциальности
                </a>
            </div>
        </div>
    </div>
</div>

{{> popup/popup}}
{{> scripts/scripts}}