<div class="blur">
    <div class="popup popup-size modal modal-1">
        <div class="modal__close popup__close">
            {{Icon iconName="close"}}
        </div>
        <div class="modal__title">
            Таблица размеров
        </div>

        <div class="modal__table">  
            <table>
                <tr>
                    <th>Международный</th>
                    <th>XXS</th>
                    <th>XS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L   </th>
                    <th>XL</th>
                    <th>XXL</th>
                    <th>3XL</th>
                    <th>4XL</th>
                    <th>5XL</th>
                    <th>6XL</th>
                    <th>7XL</th>
                </tr>
                <tr>
                    <td>Российский</td>
                    <td>40-42</td>
                    <td>44-46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56-58</td>
                    <td>60-62</td>
                    <td>64-66</td>
                    <td>68-70</td>
                    <td>72-74</td>
                    <td>76-78</td>
                </tr>
                <tr>
                    <td>Российский</td>
                    <td>40-42</td>
                    <td>44-46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56-58</td>
                    <td>60-62</td>
                    <td>64-66</td>
                    <td>68-70</td>
                    <td>72-74</td>
                    <td>76-78</td>
                </tr>
                <tr>
                    <td>Российский</td>
                    <td>40-42</td>
                    <td>44-46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56-58</td>
                    <td>60-62</td>
                    <td>64-66</td>
                    <td>68-70</td>
                    <td>72-74</td>
                    <td>76-78</td>
                </tr>
                <tr>a
                    <td>Российский</td>
                    <td>40-42</td>
                    <td>44-46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56-58</td>
                    <td>60-62</td>
                    <td>64-66</td>
                    <td>68-70</td>
                    <td>72-74</td>
                    <td>76-78</td>
                </tr>
            </table>
        </div>
        <img src='static/img/content/size.jpg'>
    </div>
    <div class="popup popup-size-2 modal modal-1">
        <div class="modal__close popup__close">
            {{Icon iconName="close"}}
        </div>
        <div class="modal__title">
            Таблица размеров
        </div>

        <div class="modal__table">  
            <table>
                <tr>
                    <th>Международный</th>
                    <th>XXS</th>
                    <th>XS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L   </th>
                    <th>XL</th>
                    <th>XXL</th>
                    <th>3XL</th>
                    <th>4XL</th>
                    <th>5XL</th>
                    <th>6XL</th>
                    <th>7XL</th>
                </tr>
                <tr>
                    <td>Российский</td>
                    <td>40-42</td>
                    <td>44-46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56-58</td>
                    <td>60-62</td>
                    <td>64-66</td>
                    <td>68-70</td>
                    <td>72-74</td>
                    <td>76-78</td>
                </tr>
                <tr>
                    <td>Российский</td>
                    <td>40-42</td>
                    <td>44-46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56-58</td>
                    <td>60-62</td>
                    <td>64-66</td>
                    <td>68-70</td>
                    <td>72-74</td>
                    <td>76-78</td>
                </tr>
                <tr>
                    <td>Российский</td>
                    <td>40-42</td>
                    <td>44-46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56-58</td>
                    <td>60-62</td>
                    <td>64-66</td>
                    <td>68-70</td>
                    <td>72-74</td>
                    <td>76-78</td>
                </tr>
                <tr>a
                    <td>Российский</td>
                    <td>40-42</td>
                    <td>44-46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56-58</td>
                    <td>60-62</td>
                    <td>64-66</td>
                    <td>68-70</td>
                    <td>72-74</td>
                    <td>76-78</td>
                </tr>
            </table>
        </div>
        <img src='static/img/content/size-2.jpg'>
    </div>
    <div class="popup popup-size-3 modal modal-1">
        <div class="modal__close popup__close">
            {{Icon iconName="close"}}
        </div>
        <div class="modal__title">
            Таблица размеров
        </div>

        <div class="modal__table">  
            <table>
                <tr>
                    <th>Международный</th>
                    <th>XXS</th>
                    <th>XS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L   </th>
                    <th>XL</th>
                    <th>XXL</th>
                    <th>3XL</th>
                    <th>4XL</th>
                    <th>5XL</th>
                    <th>6XL</th>
                    <th>7XL</th>
                </tr>
                <tr>
                    <td>Российский</td>
                    <td>40-42</td>
                    <td>44-46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56-58</td>
                    <td>60-62</td>
                    <td>64-66</td>
                    <td>68-70</td>
                    <td>72-74</td>
                    <td>76-78</td>
                </tr>
                <tr>
                    <td>Российский</td>
                    <td>40-42</td>
                    <td>44-46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56-58</td>
                    <td>60-62</td>
                    <td>64-66</td>
                    <td>68-70</td>
                    <td>72-74</td>
                    <td>76-78</td>
                </tr>
                <tr>
                    <td>Российский</td>
                    <td>40-42</td>
                    <td>44-46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56-58</td>
                    <td>60-62</td>
                    <td>64-66</td>
                    <td>68-70</td>
                    <td>72-74</td>
                    <td>76-78</td>
                </tr>
                <tr>a
                    <td>Российский</td>
                    <td>40-42</td>
                    <td>44-46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56-58</td>
                    <td>60-62</td>
                    <td>64-66</td>
                    <td>68-70</td>
                    <td>72-74</td>
                    <td>76-78</td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="popup popup-city modal modal-2">
        <div class="modal__close popup__close">
            {{Icon iconName="close"}}
        </div>
        <div class="modal__title">
            Выберете ваш город
        </div>

        <input type="text" class="m-field" placeholder="Санкт-Петербург">
        <div class="modal__field-text">
            Введите название и выберите из списка
        </div>
        <div class="modal__city">
            <div class="modal__city-content">
                <div class="modal__city-item">
                    <div class="modal__city-item-left">
                        A
                    </div>
                    <div class="modal__city-item-right">
                        <span>Москва</span>
                        <span>Москва</span>
                        <span>Москва</span>
                        <span>Москва</span>
                    </div>
                </div>
                <div class="modal__city-item">
                    <div class="modal__city-item-left">
                        A
                    </div>
                    <div class="modal__city-item-right">
                        <span>Москва</span>
                        <span>Москва</span>
                        <span>Москва</span>
                        <span>Москва</span>
                    </div>
                </div>
                <div class="modal__city-item">
                    <div class="modal__city-item-left">
                        A
                    </div>
                    <div class="modal__city-item-right">
                        <span>Москва</span>
                        <span>Москва</span>
                        <span>Москва</span>
                        <span>Москва</span>
                    </div>
                </div>
                <div class="modal__city-item">
                    <div class="modal__city-item-left">
                        A
                    </div>
                    <div class="modal__city-item-right">
                        <span>Москва</span>
                        <span>Москва</span>
                        <span>Москва</span>
                        <span>Москва</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>