<div class="pageNavFixed">
	<div class="pageNavFixed__cont">
		<div>
			<b>Страницы</b>
			<a href="index.html">index</a>
			<a href="basket.html">basket</a>
			<a href="catalog.html">catalog</a>
			<a href="checkout.html">checkout</a>
			<a href="contacts.html">contacts</a>
			<a href="likes.html">likes</a>
			<a href="opt.html">opt</a>
			<a href="pay.html">pay</a>
			<a href="tovar.html">tovar</a>
			<a href="edit.html">edit</a>
			<a href="404.html">404</a>
			<a href="typical.html">typical</a>
		</div>
		<div>
			<b>Попапы</b>
			<a href="#" class="completed" data-popup='city'>city</a>
			<a href="#" class="completed" data-popup='size'>size - m</a>
			<a href="#" class="completed" data-popup='size-2'>size - f</a>
			<a href="#" class="completed" data-popup='size-3'>size - k</a>
		</div>
	</div>
</div>